<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
            crossorigin="anonymous">
         <link>
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
         integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
         crossorigin="anonymous">
        <link rel="stylesheet" href="/index.css">
        
        <title>Product Spider</title>
    </head>
 <body>
     <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="opacity:0.9; ">
                    <a class="navbar-brand" href="/">
                        <!-- <span><i class="fab fa-free-code-camp"></i></span> -->
                        <span><i class="fab fa-free-code-camp"></i></span>
                        Product Spider
                    </a>
                 <form class="form-inline my-2 my-lg-0" action="/products" method="GET">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="product">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                    
              </nav>
    </header>


<section class="container">
   <!-- ############################### Amazon products #################################### -->
    <div>
      <h1><i id="amz" class="fab fa-amazon"></i>Amazon Products</h1>  
      <div class="row"> 
          <% amazon.forEach( (prod) => { %>
            <div id="col-margin" class="col-3">
                <a href="<%=prod.link%>">
                    <img src="<%=prod.img%>">
                </a>
            </div>
                      
            <% }) %> 
        </div>
    </div>
       
    <!-- ############################# Paytm products ########################################## -->
    <div>
      <h1>Paytm Products</h1>   
      <div class="row"> 
         <% paytm.forEach( (prod) => { %>
            <div id="col-margin" class="col-3">
                <a href="<%=prod.link%>">
                 <img src="<%=prod.img%>">
                </a>
            </div>
                   
         <% }) %> 
        </div>
     </div>   

  </section>
</body> 

</html>

