header {
    margin: 0 auto;
    display: flex;
}


i {
    display: inline;
    font-size: 2em;
    color: green;
    font-weight: 200;
}

#amazon {
    color : goldenrod;
    font-size: 1em;
    margin-right: 2px;

}
.container {
    margin-top: 6%;
}

#col-margin {
    margin-top: 2%; 
}

#search {
    margin-top: 20%;
    margin-left: 30%;
}
h1 {
    margin-left: 40%;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));

}
body {
    background-color: #fdfcff;
}